<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marvel API - Project 1</title>
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <section class="panel" id="panel1">
    <div class="content">
      <h2>Heading 1</h2>
    </div>
  </section class="panel">
  <section class="panel" id="panel2">
    <div class="content">
      <div id="chart-wrapper">
        <canvas id="chart" aria-label="Scatter Chart of Marvel Characters' Number of Comics and Events"
          role="img"></canvas>
      </div>
    </div>
  </section>
  <section class="panel" id="panel3">
    <div class="content">
      <h2>Heading 3</h2>
    </div>
  </section>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="/client.js"></script>
</body>

</html>